<section class="section is-medium">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half ">

        <%= form_with model: @item, local: true do |form| %>
          <!-- 入力欄（商品名） -->
          <div class="field">
            <%= form.label :name, "商品名", class: "label is-medium" %>
            
            <div class="control">
              <%= form.text_field :item_name, class: "input", required: true %>
            </div>
          </div>

          <!-- 入力欄（在庫数） -->
          <div class="field">
            <%= form.label :name, "在庫数", class: "label is-medium" %>
            <div class="control">
              <%= form.number_field :inventory_quantity, class: "input", min: "0", step: "1", required: true %>
            </div>
          </div>

          <!-- 更新、戻るボタン -->
          <div class="buttons">
            <%= form.submit "更新", class: "button is-primary" %>
            <%= link_to "戻る", items_path, class: "button is-primary is-light" %>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</section>